In [ ]:
from __future__ import print_function
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn import neighbors, datasets

In [ ]:
from google.colab import files
files.upload()

Saving Network_Ads.csv to Network_Ads.csv

{'Network_Ads.csv': b'Gender,Age,EstimatedSalary,Purchased\r\nMale,19,19000,0\r\nMale,35,20000,0\r\nFemale,26,43000,0\r\nFemale,27,57000,0\r\nMale,19,76000,0\r\nMale,27,58000,0\r\nFemale,27,84000,0\r\nFemale,32,150000,1\r\nMale,25,33000,0\r\nFemale,35,65000,0\r\nFemale,26,80000,0\r\nFemale,26,52000,0\r\nMale,20,86000,0\r\nMale,32,18000,0\r\nMale,18,82000,0\r\nMale,29,80000,0\r\nMale,47,25000,1\r\nMale,45,26000,1\r\nMale,46,28000,1\r\nFemale,48,29000,1\r\nMale,45,22000,1\r\nFemale,47,49000,1\r\nMale,48,41000,1\r\nFemale,45,22000,1\r\nMale,46,23000,1\r\nMale,47,20000,1\r\nMale,49,28000,1\r\nFemale,47,30000,1\r\nMale,29,43000,0\r\nMale,31,18000,0\r\nMale,31,74000,0\r\nFemale,27,137000,1\r\nFemale,21,16000,0\r\nFemale,28,44000,0\r\nMale,27,90000,0\r\nMale,35,27000,0\r\nFemale,33,28000,0\r\nMale,30,49000,0\r\nFemale,26,72000,0\r\nFemale,27,31000,0\r\nFemale,27,17000,0\r\nFemale,33,51000,0\r\nMale,35,108000,0\r\nMale,30,15000,0\r\nFemale,28,84000,0\r\nMale,23,20000,0\r\nMale,25,79000,0\r\nFemale,27,54000,0\r\nMale,30,135000,1\r\nFemale,31,89000,0\r\nFemale,24,32000,0\r\nFemale,18,44000,0\r\nFemale,29,,0\r\nFemale,35,23000,0\r\nFemale,27,58000,0\r\nFemale,24,55000,0\r\nFemale,23,48000,0\r\nMale,28,79000,0\r\nMale,22,18000,0\r\nFemale,32,117000,0\r\nMale,27,20000,0\r\nMale,25,87000,0\r\nFemale,23,66000,0\r\nMale,32,120000,1\r\nFemale,59,83000,0\r\nMale,24,58000,0\r\nMale,24,19000,0\r\nFemale,23,82000,0\r\nFemale,22,63000,0\r\nFemale,31,68000,0\r\nMale,25,80000,0\r\nFemale,24,27000,0\r\nFemale,20,,0\r\nFemale,33,113000,0\r\nMale,32,18000,0\r\nMale,34,112000,1\r\nMale,18,52000,0\r\nFemale,22,27000,0\r\nFemale,28,87000,0\r\nFemale,26,17000,0\r\nMale,30,80000,0\r\nMale,39,42000,0\r\nMale,20,49000,0\r\nMale,35,88000,0\r\nFemale,30,62000,0\r\nFemale,31,118000,1\r\nMale,24,55000,0\r\nFemale,28,85000,0\r\nMale,26,81000,0\r\nMale,35,50000,0\r\nMale,22,81000,0\r\nFemale,30,116000,0\r\nMale,26,15000,0\r\nFemale,29,28000,0\r\nFemale,29,83000,0\r\nFemale,35,44000,0\r\nFemale,35,25000,0\r\nMale,28,123000,1\r\nMale,35,73000,0\r\nFemale,28,37000,0\r\nMale,27,88000,0\r\nMale,28,59000,0\r\nFemale,32,86000,0\r\nFemale,33,149000,1\r\nFemale,19,21000,0\r\nMale,21,72000,0\r\nFemale,26,35000,0\r\nMale,27,89000,0\r\nMale,26,86000,0\r\nFemale,38,80000,0\r\nFemale,39,71000,0\r\nFemale,37,71000,0\r\nMale,38,61000,0\r\nMale,37,55000,0\r\nMale,42,80000,0\r\nMale,40,57000,0\r\nMale,35,75000,0\r\nMale,36,52000,0\r\nMale,40,59000,0\r\nMale,41,59000,0\r\nFemale,36,75000,0\r\nMale,37,72000,0\r\nFemale,40,75000,0\r\nMale,35,53000,0\r\nFemale,41,51000,0\r\nFemale,39,61000,0\r\nMale,42,65000,0\r\nMale,26,32000,0\r\nMale,30,17000,0\r\nFemale,26,84000,0\r\nMale,31,58000,0\r\nMale,33,31000,0\r\nMale,30,87000,0\r\nFemale,21,68000,0\r\nFemale,28,55000,0\r\nMale,23,63000,0\r\nFemale,20,82000,0\r\nMale,30,107000,1\r\nFemale,28,59000,0\r\nMale,19,25000,0\r\nMale,19,85000,0\r\nFemale,18,68000,0\r\nMale,35,59000,0\r\nMale,30,89000,0\r\nFemale,34,25000,0\r\nFemale,24,89000,0\r\nFemale,27,96000,1\r\nFemale,41,30000,0\r\nMale,29,61000,0\r\nMale,20,74000,0\r\nFemale,26,15000,0\r\nMale,41,45000,0\r\nMale,31,76000,0\r\nFemale,36,50000,0\r\nMale,40,47000,0\r\nFemale,31,15000,0\r\nMale,46,59000,0\r\nMale,29,75000,0\r\nMale,26,30000,0\r\nFemale,32,135000,1\r\nMale,32,100000,1\r\nMale,25,90000,0\r\nFemale,37,33000,0\r\nMale,35,38000,0\r\nFemale,33,69000,0\r\nFemale,18,86000,0\r\nFemale,22,55000,0\r\nFemale,35,71000,0\r\nMale,29,148000,1\r\nFemale,29,47000,0\r\nMale,21,88000,0\r\nMale,34,115000,0\r\nFemale,26,118000,0\r\nFemale,34,43000,0\r\nFemale,34,72000,0\r\nFemale,23,28000,0\r\nFemale,35,47000,0\r\nMale,25,22000,0\r\nMale,24,23000,0\r\nFemale,31,34000,0\r\nMale,26,16000,0\r\nFemale,31,71000,0\r\nFemale,32,117000,1\r\nMale,33,43000,0\r\nFemale,33,60000,0\r\nMale,31,66000,0\r\nFemale,20,82000,0\r\nFemale,33,41000,0\r\nMale,35,72000,0\r\nMale,28,32000,0\r\nMale,24,84000,0\r\nFemale,19,26000,0\r\nMale,29,43000,0\r\nMale,19,70000,0\r\nMale,28,89000,0\r\nMale,34,43000,0\r\nFemale,30,79000,0\r\nFemale,20,36000,0\r\nMale,26,80000,0\r\nMale,35,22000,0\r\nMale,35,39000,0\r\nMale,49,74000,0\r\nFemale,39,134000,1\r\nFemale,41,71000,0\r\nFemale,58,101000,1\r\nFemale,47,47000,0\r\nFemale,55,130000,1\r\nFemale,52,114000,0\r\nFemale,40,142000,1\r\nFemale,46,22000,0\r\nFemale,48,96000,1\r\nMale,52,150000,1\r\nFemale,59,42000,0\r\nMale,35,58000,0\r\nMale,47,43000,0\r\nFemale,60,108000,1\r\nMale,49,65000,0\r\nMale,40,78000,0\r\nFemale,46,96000,0\r\nMale,59,143000,1\r\nFemale,41,80000,0\r\nMale,35,91000,1\r\nMale,37,,1\r\nMale,60,102000,1\r\nFemale,35,60000,0\r\nMale,37,53000,0\r\nFemale,36,126000,1\r\nMale,56,,1\r\nFemale,40,72000,0\r\nFemale,42,80000,1\r\nFemale,35,147000,1\r\nMale,39,42000,0\r\nMale,40,107000,1\r\nMale,49,86000,1\r\nFemale,38,112000,0\r\nMale,46,79000,1\r\nMale,40,57000,0\r\nFemale,37,80000,0\r\nFemale,46,82000,0\r\nFemale,53,143000,1\r\nMale,42,149000,1\r\nMale,38,59000,0\r\nFemale,50,88000,1\r\nFemale,56,104000,1\r\nFemale,41,72000,0\r\nFemale,51,146000,1\r\nFemale,35,50000,0\r\nFemale,57,,1\r\nMale,41,52000,0\r\nFemale,35,97000,1\r\nFemale,44,39000,0\r\nMale,37,52000,0\r\nFemale,48,134000,1\r\nFemale,37,146000,1\r\nFemale,50,44000,0\r\nFemale,52,90000,1\r\nFemale,41,72000,0\r\nMale,40,57000,0\r\nFemale,58,95000,1\r\nFemale,45,131000,1\r\nFemale,35,77000,0\r\nMale,36,144000,1\r\nFemale,55,125000,1\r\nFemale,35,72000,0\r\nMale,48,90000,1\r\nFemale,42,108000,1\r\nMale,40,75000,0\r\nMale,37,74000,0\r\nFemale,47,144000,1\r\nMale,40,61000,0\r\nFemale,43,133000,0\r\nFemale,59,76000,1\r\nMale,60,42000,1\r\nMale,39,106000,1\r\nFemale,57,26000,1\r\nMale,57,74000,1\r\nMale,38,71000,0\r\nMale,49,88000,1\r\nFemale,52,,1\r\nFemale,50,36000,1\r\nFemale,59,88000,1\r\nMale,35,61000,0\r\nMale,37,70000,1\r\nFemale,52,21000,1\r\nMale,48,141000,0\r\nFemale,37,93000,1\r\nFemale,37,62000,0\r\nFemale,48,138000,1\r\nMale,41,79000,0\r\nFemale,37,78000,1\r\nMale,39,134000,1\r\nMale,49,89000,1\r\nMale,55,39000,1\r\nMale,37,,0\r\nFemale,35,57000,0\r\nFemale,36,63000,0\r\nMale,42,73000,1\r\nFemale,43,112000,1\r\nMale,45,79000,0\r\nMale,46,117000,1\r\nFemale,58,38000,1\r\nMale,48,74000,1\r\nFemale,37,137000,1\r\nMale,37,79000,1\r\nFemale,40,60000,0\r\nMale,42,54000,0\r\nFemale,51,134000,0\r\nFemale,47,113000,1\r\nMale,36,125000,1\r\nFemale,38,50000,0\r\nFemale,42,70000,0\r\nMale,39,96000,1\r\nFemale,38,50000,0\r\nFemale,49,141000,1\r\nFemale,39,79000,0\r\nFemale,39,75000,1\r\nFemale,54,104000,1\r\nMale,35,55000,0\r\nMale,45,32000,1\r\nMale,36,60000,0\r\nFemale,52,138000,1\r\nFemale,53,,1\r\nMale,41,52000,0\r\nFemale,48,30000,1\r\nFemale,48,131000,1\r\nFemale,41,60000,0\r\nMale,41,72000,0\r\nFemale,42,75000,0\r\nMale,36,118000,1\r\nFemale,47,107000,1\r\nMale,38,51000,0\r\nFemale,48,119000,1\r\nMale,42,65000,0\r\nMale,40,65000,0\r\nMale,57,60000,1\r\nFemale,36,54000,0\r\nMale,58,144000,1\r\nMale,35,79000,0\r\nFemale,38,55000,0\r\nMale,39,122000,1\r\nFemale,53,104000,1\r\nMale,35,75000,0\r\nFemale,38,65000,0\r\nFemale,47,51000,1\r\nMale,47,105000,1\r\nFemale,41,63000,0\r\nMale,53,72000,1\r\nFemale,54,108000,1\r\nMale,39,77000,0\r\nMale,38,61000,0\r\nFemale,38,113000,1\r\nMale,37,75000,0\r\nFemale,42,90000,1\r\nFemale,37,57000,0\r\nMale,36,99000,1\r\nMale,60,34000,1\r\nMale,54,70000,1\r\nFemale,41,72000,0\r\nMale,40,71000,1\r\nMale,42,54000,0\r\nMale,43,129000,1\r\nFemale,53,34000,1\r\nFemale,47,50000,1\r\nFemale,42,79000,0\r\nMale,42,104000,1\r\nFemale,59,29000,1\r\nFemale,58,47000,1\r\nMale,46,88000,1\r\nMale,38,71000,0\r\nFemale,54,26000,1\r\nFemale,60,46000,1\r\nMale,60,,1\r\nFemale,39,73000,0\r\nMale,59,130000,1\r\nFemale,37,80000,0\r\nFemale,46,32000,1\r\nFemale,46,74000,0\r\nFemale,42,53000,0\r\nMale,41,87000,1\r\nFemale,58,23000,1\r\nMale,42,64000,0\r\nMale,48,33000,1\r\nFemale,44,139000,1\r\nMale,49,28000,1\r\nFemale,57,33000,1\r\nMale,56,,1\r\nFemale,49,39000,1\r\nMale,39,71000,0\r\nMale,47,34000,1\r\nFemale,48,35000,1\r\nMale,48,33000,1\r\nMale,47,23000,1\r\nFemale,45,,1\r\nMale,60,42000,1\r\nFemale,39,59000,0\r\nFemale,46,41000,1\r\nMale,51,23000,1\r\nFemale,50,20000,1\r\nMale,36,33000,0\r\nFemale,49,36000,1\r\n'}

In [ ]:
df = pd.read_csv('Network_Ads.csv')
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19          19000.0          0
1      Male   35          20000.0          0
2    Female   26          43000.0          0
3    Female   27          57000.0          0
4      Male   19          76000.0          0
..      ...  ...              ...        ...
395  Female   46          41000.0          1
396    Male   51          23000.0          1
397  Female   50          20000.0          1
398    Male   36          33000.0          0
399  Female   49          36000.0          1

[400 rows x 4 columns]

In [ ]:
df['Gender'] = df['Gender'].apply({'Male':0, 'Female':1}.get)
df

     Gender  Age  EstimatedSalary  Purchased
0         0   19          19000.0          0
1         0   35          20000.0          0
2         1   26          43000.0          0
3         1   27          57000.0          0
4         0   19          76000.0          0
..      ...  ...              ...        ...
395       1   46          41000.0          1
396       0   51          23000.0          1
397       1   50          20000.0          1
398       0   36          33000.0          0
399       1   49          36000.0          1

[400 rows x 4 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    int64
 1   Age              400 non-null    int64
 2   EstimatedSalary  389 non-null    float64
 3   Purchased        400 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 12.6 KB

In [ ]:
df = df.fillna(method='backfill') # xử lý missing data

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    int64
 1   Age              400 non-null    int64
 2   EstimatedSalary  400 non-null    float64
 3   Purchased        400 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 12.6 KB

In [ ]:
X = df.iloc[:,1 :-1] # chọn X là 4 cột đầu : giới tính , tuổi , lương
y = df.iloc[:, -1] # chọn Y là cột cuối

In [ ]:
X_scaled = preprocessing.StandardScaler().fit_transform(X) # co dữ liệu lại

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [ ]:
def myweight(distances):
    sigma2 = .5 # có thể thay đổi 
    return np.exp(-distances**2/sigma2)

In [ ]:
for i in range(1, 15):
  clf = neighbors.KNeighborsClassifier(n_neighbors = i , p = 2, weights = myweight)
  clf.fit(X_train, y_train)
  y_pred = clf.predict(X_test)
  print("Độ chính xác vơi các giá trị của K  = " ,i ," là : %.2f %%" %(100*accuracy_score(y_test, y_pred)) )

Độ chính xác vơi các giá trị của K  =  1  là : 86.25 %
Độ chính xác vơi các giá trị của K  =  2  là : 86.25 %
Độ chính xác vơi các giá trị của K  =  3  là : 92.50 %
Độ chính xác vơi các giá trị của K  =  4  là : 91.25 %
Độ chính xác vơi các giá trị của K  =  5  là : 92.50 %
Độ chính xác vơi các giá trị của K  =  6  là : 92.50 %
Độ chính xác vơi các giá trị của K  =  7  là : 93.75 %
Độ chính xác vơi các giá trị của K  =  8  là : 93.75 %
Độ chính xác vơi các giá trị của K  =  9  là : 93.75 %
Độ chính xác vơi các giá trị của K  =  10  là : 93.75 %
Độ chính xác vơi các giá trị của K  =  11  là : 92.50 %
Độ chính xác vơi các giá trị của K  =  12  là : 92.50 %
Độ chính xác vơi các giá trị của K  =  13  là : 92.50 %
Độ chính xác vơi các giá trị của K  =  14  là : 92.50 %